@{
    ViewData["Title"] = "Home Page";
}

<div class="hero-section text-center">
    <h1 class="display-4 fancy-title">Bienvenido al Sistema de Gestión de Clientes</h1>
    <p class="lead description">Utiliza la barra de navegación superior para acceder a las distintas secciones del sistema.</p>
</div>
